* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 /* Estilos para o cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .cabecalho img {
    width: 100px;
    height: 100px;
  }
  
  .cabecalho nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cabecalho nav li {
    margin-right: 50px;
  }

  .cabecalho nav ul li a:hover {
    color: #ff0000;
  }
  
  .cabecalho nav li:last-child {
    margin-right: 500px;
  }
  
  .cabecalho nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos para o conteúdo principal */
  .conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url("https://img.freepik.com/fotos-gratis/renderizando-um-fundo-futurista-abstrato-com-luzes-brilhantes-de-neon-azul-e-laranja_181624-19807.jpg?w=740&t=st=1682365683~exp=1682366283~hmac=1ce9e665ed1f608ce09fbfac0f07927bef24bef08823278e14c5acffaa0db1f8");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .conteudo-principal div {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .conteudo-principal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    color:#fff
  }
  
  .conteudo-principal img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
  }
  
  .conteudo-principal p {
    margin-top: 0;
    color:#fff
  }

  .conteudo-principal figcaption{
    font-family:Pacifico;
    color:whitesmoke;
    text-align: center;
    padding-bottom: 10px;
  }

  .button {
    background-color: #aaa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: #999;
  }

  button:active {
    background-color: #888;
    box-shadow: none;
  }
  
  .card {
    background-image:url("https://img.freepik.com/vetores-gratis/fundo-gradiente-de-conexao-de-rede_23-2148865392.jpg?size=626&ext=jpg&ga=GA1.2.1731921799.1682209697&semt=robertav1_2_sidr") ;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card {
    /* estilos padrão para o card */
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
   
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  
  /* Estilos para o rodapé */
  .rodape {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    
  }
  
  .rodape h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .rodape nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .rodape nav li {
    margin-right: 10px;
  }
  
  .rodape nav li:last-child {
    margin-right: 0;
  }
  
  .rodape nav a img {
    width: 30px;
    height: 30px;
    
  }

  /* Estilos para telas com largura máxima de 600px */
@media (max-width: 600px) {
  .cabecalho nav li:last-child {
    margin-right: 0;
  }
  
  .conteudo-principal div {
    flex-basis: 100%;
  }
  
  .card {
    padding: 20px;
  }
  
  .card img {
    height: 100%;
  }
  
  .rodape nav {
    flex-direction: column;
    align-items: center;
  }
  
  .rodape nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para telas com largura máxima de 900px */
@media (max-width: 900px) {
  .cabecalho nav li:last-child {
    margin-right: 50px;
  }
  
  .conteudo-principal div {
    flex-basis: calc(50% - 20px);
  }
  
  .card {
    padding: 30px;
  }
  
  .rodape nav {
    flex-direction: row;
    justify-content: center;
  }
  
  .rodape nav li {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
